@{
    ViewBag.Title = "Contact";
}
<style>
    body {
        background-image: url(/Images/index.jpg);
        background-repeat: no-repeat;
        background-size: cover
    }</style>

<div style="text-align:center; background-color:rgba(255, 255, 255, 0.52);margin-left:300px ;padding:10px;margin-right:350px;margin-top:200px ;font-size:large;color:#337ab7" dir="rtl">
    تابعنا على مواقع التواصل الاجتماعي
    <br>
 
    <a href="">
        <img src="~/images/facebook-circled.png" />
    </a>
    <a href="">
        <img src="~/images/insta.png" width="30%" height="30%" />
    </a>
    <br>
    أو أرسل رسالة عبر البريد الالكتروني

    <a href="mailto:alaa..."> ..............................</a>
</div>