<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>
            Error .<lable class="lable-danger">@ViewBag.errMessage</lable>
            Access Denied , Pleas Login
        </h1>
  </hgroup>
</body>
</html>
